.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  position: relative;
  z-index: 99;
}

.form-container {
  margin: 50px;
  margin-bottom: 0;
}

.form {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.field {
  width: 100%;
  position: relative;
  padding-top: 1.75em;
  border-top: 1px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.9);
}

.field {
  border-bottom: 1px solid lightgrey;
}

.field label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  padding-bottom: 0;
  margin: 0;
  z-index: 1;
  font-size: .8em;
  color: grey;
  font-weight: 400;
  user-select: none;
  cursor: text;
}

.form-input input {
  position: relative;
  padding: 16px;
  width: 100%;
  font-size: 20px;
  color: darkgrey;
  border: none;
  outline: 0;
  letter-spacing: 0.05em;
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn-container button {
  border: none;
  background: none;
  color: darkgrey;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btn-container button:hover {
  color: black;
  background-color: grey;
}

.btn-container {
  height: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 1px solid lightgrey;
  color: white;
  margin: 0 auto;
}

.login-page .form-error,
.signup-page .form-error {
  float: right;
  color: red;
}

.footer-li,
.footer-su {
  margin: 0 0px 10px 30px;
  color: white;
}

.footer-li p,
.footer-su p {
  margin: 0;
}

a {
  color: lightblue;
}

@media only screen and (max-width: 768px) {
  .landing {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form h2 {
    color: white;
  }
}
