.pitch {
  margin: 50px;
  color: white;
  font-family: 'geosanslightregular';
}

@font-face {
    font-family: 'geosanslightregular';
    src: url('geosanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
