.todo-item {
  display: grid;
  grid-template-columns: 10fr 1fr;
  border: 1px solid lightgrey;
  border-radius: 4px;
  height: 60px;
  background-color: white;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}

.item {
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
}

.checkbox {
  margin: 30px 20px 0 10px;
}

.todo-delete {
  float: right;
  border: none;
  background-color: none;
  font-size: 20px;
  padding: 10px;
  color: grey;
  height: 100%;
  width: 100%;
  text-align: center;
}

.todo-delete:hover {
  background: lightgrey;
  color: black;
  cursor: pointer;
}
