.weather-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  margin-top: 0;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.footer {
  text-align: right;
  padding: 0;
  margin-right: 20%;
  margin-top: 5px;
  font-size: 15px;
}

.footer p {
  margin: 0;

}

/* @media only screen and (max-width: 768px) {
  .weather-app {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form h2 {
    color: white;
  }
} */
