.daily-weather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  color: white;
  padding-left: 20%;
  padding-right: 20%;
}

.card {
  text-align: center;
  padding: 10px;
}

.current-weather-card {
  margin-right: 41%;
  margin-left: 41%;
}

.current-temp {
  width: 100%;
  border: 2px solid white;
  border-radius: 50%;
}

.current-temp:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.daily-avg {
  width: 100%;
  border: 2px solid white;
  border-radius: 50%;
}

.daily-avg:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.avg,
.temp {
  float: left;
  width: 100%;
  padding-top: 35%;
  line-height: 1em;
  text-align: center;
  color: black;
  font-size: 60px;
}

.avg {
  font-size: 40px;
}

.condition {
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .daily-weather {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 260px;
    overflow: auto;
  }

  .circle {
    border: 1px solid white;
  }

  .card {
    margin-right: 30%;
    margin-left: 30%;
  }

  .daily-weather-card {
    border-bottom: 1px solid lightgrey;
  }
}
